body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  padding-top: 4rem;
  text-align: center;
}

.disable-scroll {
  overflow: hidden;
}