h1 {
  font-weight: bold;
}

.h1-small {
  font-size: .65em;
  margin-left: -.2em;
}

h1 .badge.rounded-pill {
  font-size: .5em;
  color: #b8bfc7;
  border: #b8bfc7 solid 1px;
  padding: .2rem .5rem;
}

.spinner-border-sm {
  border-width: .12em;
}

textarea {
  height: calc(100vh - 16rem);
}

@media (max-width: 767.98px) {
  textarea {
    height: calc(50vh - 8rem);
  }
}