p.text-justify {
  text-align: justify;
  text-justify: inter-character;
}

.form-check {
  padding-left: 2.25rem;
  padding-right: 2.25rem;
}

@media (max-width: 575.98px) {
  .w-xs-85 {
    width: 85%;
  }
}