nav {
  border-bottom: 1px solid var(--muted-border-color);
}

nav ul {
  margin: 0 .75rem !important;
}

nav li.icon,
nav li.icon a {
  display: flex;
  align-items: center;
}

main {
  padding-top: 0 !important;
}

.hidden {
  visibility: hidden;
}

.text-start {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-end {
  text-align: right;
}

td.spacer {
  padding: 0;
}

.count,
.question,
.answer {
  width: 1px;
  white-space: nowrap;
}

.count {
  opacity: 65%;
  text-align: right;
  padding-left: 0;
  width: 5rem;
}

.question {
  font-size: 3rem;
  padding: 0;
}

.answer {
  font-size: 3rem;
  padding-left: 0;
}

.answer .highlight {
  border-radius: var(--border-radius);
  background: var(--code-background-color);
}

@media (prefers-color-scheme: dark) {
  .answer .highlight.correct {
    background-color: #657d48;
  }

  .answer .highlight.incorrect {
    background-color: #8a4038;
  }
}

@media (prefers-color-scheme: light) {
  .answer .highlight.correct {
    background-color: #d6e5c6;
  }

  .answer .highlight.incorrect {
    background-color: #f7d0cc;
  }
}

#numpad {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 1rem;
}

#numpad .row {
  display: flex;
}

#numpad button {
  font-size: 1.5rem;
  margin: .25rem;
  padding: .75rem 0;
}

#numpad button.chinese {
  font-size: 1rem;
}

@media (max-width: 767.98px) {
  #numpad {
    display: block;
  }
}

dialog>article {
  width: calc(100vh - var(--spacing) * 2);
}

dialog>article>footer {
  margin-top: .5rem;
}

.setting-label {
  display: flex;
  justify-content: space-between;
}

/* 改善 Modal 動畫 */
:where(.modal-is-opening, .modal-is-closing) dialog,
:where(.modal-is-opening, .modal-is-closing) dialog>article {
  animation-duration: .2s;
  animation-timing-function: ease;
}

@keyframes modal {
  from {
    transform: translateY(-5%);
    opacity: 0;
  }
}

[v-cloak] {
  display: none !important;
}